body {
  display: flex;
  justify-content: center; /* 가로 중앙 */
  align-items: center;     /* 세로 중앙 */
  height: 100vh;           /* 화면 전체 높이 */
  margin: 0;
}

#todo-container {
  width: 400px;
  padding: 15px;
  background-color: rgb(230, 248, 255);
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Header */
.todo-header {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 25px;
    padding-top: 15px;
}

/* Form */
#todo-form {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#todo-input { 
    width: 250px; 
    height: 35px; 
    border-radius: 8px; 
    border: 1px solid #5a636d;
    color: #333;
} 

#todo-submit {
    height: 40px; 
    border-radius: 8px;
    border: 1px solid #5a636d;
    color:#333;
}

/* Render Sections */
.render-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    align-items: stretch;
}

.render-section {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.render-title {
    font-weight: 700;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

}

.render-container__list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type:none;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    padding: 10px 10px;
    border-radius: 10px;
    width: 170px;
    justify-content: space-between;
    

}

.render-container__item {
  display: flex;
  justify-content: space-between; /* 텍스트 왼쪽, 버튼 오른쪽 */
  align-items: center;            /* 세로 중앙 정렬 */
  padding: 5px 10px;
  background-color: rgb(231, 241, 248);
  border-radius: 5px;
  width: 170px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.render-container__item-button {
  border: none;
  padding: 3px 8px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}